body {
    min-height: 100%;
}

.navbar
{
  display:list-item;
  list-style-type: none;
}

.textNavbar
{
  vertical-align:bottom;color: #707070;font-size: 14px;padding: 0px;
}

#signUpButton
{
  text-align: center;float:right;margin-top: 5px;font-size: 14px;border: 1px solid #800080;background: #800080;width: 100px;border-radius: 25px;color:white
} 
#loginButton
{
  float:right;font-size: 14px;margin-top:5px;
}

.mainPageLeftDivision
{
  padding: 10px;margin: 40px 0px 30px 0px;padding-left: 100px;
}

.textStyle
{
  font-size:61px !important;
  text-align: left !important;
  margin-left: 10% !important;
  font-weight: 300 !important;
}

.leftBottomImage
{
  height:200px;position:fixed;left:-5px;bottom:-5px
}

.tagLine
{
  font-size:40px;color:#3d3838;font-style: italic;font-weight: 200;text-align: right
}

.rightDivisionMainPAge
{
  margin-top: 5%;min-height:80%;width:75%; position: absolute;top: 10px;left:130px;padding: 5px;background-color: white;
}

.secondPageTopImage
{
  height: 25px;width:700px;position: absolute;top:0;
}

.donateTitleText
{
  font-size:26px;margin-top:15px;margin-bottom:10px;font-weight:300
}

.secondPageBottomLeftImage
{
  left:0%; bottom: 0%; position: fixed;
  height:100px;width: 700px;
}

.contributeOption .iconImage{
  height: 80px;
  width:80px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);  
  }
.contributeOption .col-4
{
  text-align: center;
  margin-bottom: 15px;
}
.contributeOption p{
  margin-top: 10px;
  font-size: 14px;
}
.row
{
  margin: 0px;
}
footer{
  font-size: 12px;
  clear: both;
  background:black;
  color:white;
  padding:10px;
  position: relative;;
  height: 40px;
  margin-top: -40px;
  bottom:0;
  width:100%
}
a{
  color:black;
  text-decoration:none";
}
.totalDonation
{
    position: relative;;
    bottom:50px;
    left:20px;
    background:transparent;
    border-color: #007bff;
    color: black
}

.paymentMethods div{
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.headerGradient a{
  font-size: 16px;
}

select, .form-control-file{
  font-size: 14px !important;
}

.mainHeading
{
  text-align:center;
  margin-bottom: 50px;
  font-size: 18px;
}
.mainSubHeading
{
  text-align:center;
  margin-bottom:15px;
  font-size: 16px;
}
.hrLine
{
  width:30%;color:lightgreen;margin-bottom: 35px;
}
.ourIntroduction
{
  padding:10px;font-size:16px;font-style: italic;
  width: 70%
}
.happyIcon
{
  font-size:60px;margin-top: 100px;
}
.infoSubmitButton
{
  text-align:right;margin-bottom: 0px;
}
.infoSubmitButton button
{
  margin-right:0px;margin-top:0px;
}


.formStyle
{
  width:80% !important;
  margin-left:10% !important ;
  margin-top: 5% !important;
  font-size: 14px !important;
}
.clothesDonateButton
{
  margin-top: 4%;
}

.badge{
  padding: 10px;
  font-size: 14px;
}

.card-body{
  padding: 10px;
}

.allDonationCard
{
  color:white;
  min-width:10%;
  float:left;
  margin:5px;
  border-bottom: 5px solid black;
}

.getStartedButton
{
  margin-top: 15%;
  margin-left:25%;
  color: #800080;
  font-size: 20px;
  border: 1px solid #800080;
  background: transparent;
  padding: 6px;
  width: 125px;
  border-radius: 25px;
  cursor: pointer;
}

.getStartedButton:hover
{
  background: #800080;
  color: white;
}

.sideImage
{
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 260px;
  margin: 6rem;
  position: relative;
  width: 322px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.userDetails p{
  margin: 0px;
}

.donarQuickInfo
{
  margin: 0px;
  font-size: 12px;
  color: #6C18A4;
}

.donarQuickInfoRight
{
  text-align: right;
}
.donarQuickInfo label
{
  margin: 0px;
}
.breadcrumb-item.active
{
  color:#6C18A4 !important;
}