body {
    font-family: 'Roboto';
}
.contributeOption img{
  height: 100px;
  width:100px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  }
.contributeOption .col-4
{
  text-align: center;
  margin-bottom: 30px;
}
.contributeOption p{
  margin-top: 10px;
}
.row
{
  margin: 0px;
}
footer{
  background:black;
  color:white;
  padding:10px;
  position:absolute;
  bottom:0;
  width:100%
}
a{
  color:black;
  text-decoration:none";
}
.totalDonation
{
    position:absolute;
    bottom:50px;
    left:20px;
    background:transparent;
    border-color: #007bff;
    color: black
}