body {
    min-height: 100%;
}
.contributeOption .iconImage{
  height: 80px;
  width:80px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);  
  }
.contributeOption .col-4
{
  text-align: center;
  margin-bottom: 15px;
}
.contributeOption p{
  margin-top: 10px;
  font-size: 14px;
}
.row
{
  margin: 0px;
}
footer{
  font-size: 12px;
  clear: both;
  background:black;
  color:white;
  padding:10px;
  position: relative;;
  height: 40px;
  margin-top: -40px;
  bottom:0;
  width:100%
}
a{
  color:black;
  text-decoration:none";
}
.totalDonation
{
    position: relative;;
    bottom:50px;
    left:20px;
    background:transparent;
    border-color: #007bff;
    color: black
}

.paymentMethods div{
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.headerGradient a{
  font-size: 16px;
}

select, .form-control-file{
  font-size: 14px !important;
}

.mainHeading
{
  text-align:center;
  margin-bottom: 50px;
  font-size: 18px;
}
.mainSubHeading
{
  text-align:center;
  margin-bottom:15px;
  font-size: 16px;
}
.hrLine
{
  width:30%;color:lightgreen;margin-bottom: 35px;
}
.ourIntroduction
{
  padding:10px;font-size:16px;font-style: italic;
  width: 70%
}
.happyIcon
{
  font-size:60px;margin-top: 100px;
}
.infoSubmitButton
{
  text-align:center;margin-bottom:20px;
}
.formStyle
{
  width:80% !important;
  margin-left:10% !important ;
  margin-top: 5% !important;
  font-size: 14px !important;
}
.clothesDonateButton
{
  margin-top: 4%;
}

.badge{
  padding: 10px;
  font-size: 14px;
}

.card-body{
  padding: 10px;
}

.allDonationCard
{
  color:white;
  min-width:10%;
  float:left;
  margin:5px;
  border-bottom: 5px solid black;
}

.getStartedButton
{
  margin-top: 15%;
  margin-left:25%;
  color: #800080;
  font-size: 20px;
  border: 1px solid #800080;
  background: transparent;
  padding: 6px;
  width: 125px;
  border-radius: 25px;
  cursor: pointer;
}
.getStartedButton:hover
{
  background: #800080;
  color: white;
}