
.submitNGOData , .loginButton
{
  text-align: center;
  float:right;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #800080;
  background: #800080;
  width: 100px;
  border-radius: 25px;
  color:white;

} 

.submitNGOData
{
  position: absolute;
  bottom: 0px;
  margin-left: 20px;
  right: 0px;
}

.NGOsignUp label{
  margin-top: 20px;
}

.loginText
{
  width:80%;
  border:none;
  color: #800080;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  margin: 0px;
}